#login{
    padding: 2rem;
    padding: 6rem 0;
    background-color: var(--color-main);
}

.login_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}