footer .container{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
    gap: 1rem;
    align-items: center;
}

@media(max-width:500px){
    footer .container{
        flex-direction: column;
        gap: 3rem;
    }
}