.nav_login{
    margin-left: auto;
    border: 1px solid var(--color-principal);
    padding: 0 4rem;
    height: 100%;
    color: var(--color-principal);
}

.nav_login:hover{
    transition: .2s;
    cursor: pointer;
    border: none;
    color: white;
    background: var(--color-principal);
}