#banner{
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1)), url("../../img/banner-image.png");
    background-size: cover;
    background-position: center center;
    height: 45vh;
    min-width: 100%;
}
