.card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: space-around;
}



.show_card{
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.show_img_container{
    width: 30%
}


.show_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    width: 40%;
}

@media(max-width:600px){
    .show_card{
        flex-direction: column;  
        align-items: center;  
    }

    .show_info{
        text-align:center ;
        gap: 1rem;
    }
}