.card_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card_img:hover{
    cursor: pointer;
}


.card_img_container {
    position: relative;
    height:174px;
    width: 176px;
}

