<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="css/header/nav.css">
    <link rel="stylesheet" href="css/header/nav_search.css">
    <link rel="stylesheet" href="css/header/input_search.css">
    <link rel="stylesheet" href="css/header/input_icon.css">
    <link rel="stylesheet" href="css/header/nav_login.css">
</head>

<body>
    <header>
        <nav class="nav">
            <img src="../../img/Logo.png" alt="">
            <input class="nav_search" type="text" placeholder="¿Que deseas buscar?">
            <button class="login">
                Login
            </button>
        </nav>
    </header>

    <section id="login">
        <form action="" data-form>
            <h1 class="form_tittle">Iniciar Sesion</h1>
            <input class="form_item" type="text" name="name" placeholder="Escriba su nombre" data-name>
            <input class="form_item" type="email" name="email" data-email>
            <button type="submit">Enviar mensaje</button>
        </form>
    </section>

    <footer>
        <div class="container">
            <div class="footer_icon">
                <img src="img/Logo.png" alt="">
            </div>

            <ul class="footer_list">
                <li class="footer_list_item">Quienes somos</li>
                <li class="footer_list_item">Politica de privacidad</li>
                <li class="footer_list_item">Programa de fidelidad</li>
                <li class="footer_list_item">Nuestras tiendas</li>
                <li class="footer_list_item">Quiero ser franquiciado</li>
                <li class="footer_list_item">Anuncie aqui</li>
            </ul>

            <div class="footer_form">
                <form action="" data-form>
                    <h1 class="form_tittle">Hable con nosotros</h1>
                    <input class="form_item" type="text" name="name" placeholder="Escriba su nombre" data-name>
                    <input class="form_item" type="text" name="message" data-message>
                    <button class="form_button" type="submit">Enviar mensaje</button>
                </form>
            </div>
        </div>

        <div class="credits">
            <p>Desarrollado por Sebastian Rojas</p>
        </div>
    </footer>
</body>

</html>