<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/center.css">
    <link rel="stylesheet" href="../../css/hover-min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../css/header/nav.css">
    <link rel="stylesheet" href="../../css/header/nav_login.css">
    <link rel="stylesheet" href="../../css/header/nav_logo.css">
    <link rel="stylesheet" href="../../css/header/nav_search.css">

    <link rel="stylesheet" href="../../css/login/login.css">

    <link rel="stylesheet" href="../../css/footer/form.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-item.css">
    <link rel="stylesheet" href="../../css/footer/form-tittle.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-button.css">
    <link rel="stylesheet" href="../../css/footer/footer">

    <link rel="stylesheet" href="../../css/footer/footer-container.css">
    <link rel="stylesheet" href="../../css/footer/footer_form.css">
    <link rel="stylesheet" href="../../css/footer/footer_list.css">
    <link rel="stylesheet" href="../../css/footer/footer-list-item.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-item.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-button.css">
    <link rel="stylesheet" href="../../css/footer/footer-first.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-span.css">

    <link rel="stylesheet" href="../../css/credits/credits.css">
    <link rel="shortcut icon" href="../../img/ico.png" type="image/x-icon">


</head>

<body>
    <img id="dark" class="button-dark day hvr-bob" src="../../img/night.png" alt="night">
    <header>
        <nav class="nav margen_global">
            <a href="/index.html"><img class="nav_logo" src="../../img/Logo.png" alt=""></a>
        </nav>
    </header>

    <section id="login">
        <div class="login_container margen_global">
            <form class="form center" style="width: 40%;" action="./products.html" data-login>
                <h1 class="form_tittle">Iniciar Sesion</h1>
                <input class="form_item" type="email" name="email" placeholder="Correo" required data-email>
                <input class="form_item" type="password" name="password" placeholder="Contraseña" required data-password>
               <button class="form_button center"style="width: 100%;" data-login>Entrar</button> 
            </form>
        </div>
    </section>

    <footer>
        <div class="container margen_global">
            <div class="footer_first">
                <div class="footer_icon">
                    <img src="../../img/Logo.png" alt="">
                </div>
                <ul class="footer_list">
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Quienes somos</a></li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Politica de privacidad</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Programa de fidelidad</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Nuestras tiendas</a></li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Quiero ser franquiciado</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Anuncie aqui</a> </li>
                </ul>
            </div>

            <div class="footer_form">
                <form class="form" action="" data-form-footer>
                    <h1 class="form_tittle">Hable con nosotros</h1>
                    <input class="form_item" type="text" name="name" placeholder="Nombre"  maxlength="40" required data-name>
                    <input class="form_item" type="text" name="message" placeholder="Escriba su mensaje"  maxlength="420" required data-message>
                    <button class="form_button" type="submit">Enviar mensaje</button>
                    <span id="span" class="form_span"><p>El mensaje ha sido enviado</p></span>
                </form>
            </div>
        </div>
    </footer>

    <div class="credits ">
        <p class="margen_global">Desarrollado por Sebastian Rojas</p>
        <img src="https://images.emojiterra.com/openmoji/v14.0/512px/1f1e8-1f1f4.png" style="width: 30px;"
            alt="colombia">
    </div>

    
    <script src="../../js/script.js"></script>
    <script src="../../js/login.js" type="module"></script>


</body>

</html>