<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/center.css">
    <link rel="stylesheet" href="../../css/hover-img.css">
    <link rel="stylesheet" href="../../css/hover-min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../css/header/nav.css">
    <link rel="stylesheet" href="../../css/header/nav_login.css">
    <link rel="stylesheet" href="../../css/header/nav_logo.css">
    <link rel="stylesheet" href="../../css/header/nav_search.css">
    <link rel="stylesheet" href="../../css/header/new_product.css">
    <link rel="stylesheet" href="../../css/header/head_info.css">

    <link rel="stylesheet" href="../../css/section/section.css">
    <link rel="stylesheet" href="../../css/section/section-tittle.css">
    <link rel="stylesheet" href="../../css/section/section-head.css">
    <link rel="stylesheet" href="../../css/section/container.css">
    <link rel="stylesheet" href="../../css/section/section_icons.css">

    <link rel="stylesheet" href="../../css/card/card-title.css">
    <link rel="stylesheet" href="../../css/card/card.css">
    <link rel="stylesheet" href="../../css/card/card-img.css">
    <link rel="stylesheet" href="../../css/card/card-link.css">
    <link rel="stylesheet" href="../../css/card/card_precio.css">
    <link rel="stylesheet" href="../../css/card/icons.css">

    <link rel="stylesheet" href="../../css/footer/footer-container.css">
    <link rel="stylesheet" href="../../css/footer/footer_form.css">
    <link rel="stylesheet" href="../../css/footer/footer_list.css">
    <link rel="stylesheet" href="../../css/footer/footer-list-item.css">
    <link rel="stylesheet" href="../../css/footer/form.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-item.css">
    <link rel="stylesheet" href="../../css/footer/form-tittle.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-button.css">
    <link rel="stylesheet" href="../../css/footer/footer-first.css">
    <link rel="stylesheet" href="../../css/footer/footer-form-span.css">


    <link rel="stylesheet" href="../../css/credits/credits.css">
</head>

<body>

    <img id="dark" class="button-dark day hvr-bob" src="../../img/night.png" alt="night">

    
    <header>
        <nav class="nav margen_global">
            <a href="products.html"><img class="nav_logo" src="../../img/Logo.png" alt=""></a>
            <input class="nav_search" type="text" placeholder="¿Que deseas buscar?">
        </nav>
    </header>

    <main>
        <section class="section margen_global" id="products">
            <div class="section_head">
                <h1 class="section_tittle ">Todos los productos</h1>
                <div class="section_icons">
                    <a href="new_product.html" class="new_product hvr-forward">Agregar producto</a>
                </div>
            </div>

            <section class="products" id="products">
                <div class="container wrap">
                </div>
            </section>
    </main>

    <footer>
        <div class="container margen_global">
            <div class="footer_first">
                <div class="footer_icon">
                    <img src="../../img/Logo.png" alt="">
                </div>
                <ul class="footer_list">
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Quienes somos</a></li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Politica de privacidad</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Programa de fidelidad</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Nuestras tiendas</a></li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Quiero ser franquiciado</a>
                    </li>
                    <li class="footer_list_item"><a class="hvr-underline-from-left" href="#">Anuncie aqui</a> </li>
                </ul>
            </div>

            <div class="footer_form">
                <form class="form" action="" data-form-footer>
                    <h1 class="form_tittle">Hable con nosotros</h1>
                    <input class="form_item" type="text" name="name" placeholder="Nombre"  maxlength="40" required data-name>
                    <input class="form_item" type="text" name="message" placeholder="Escriba su mensaje"  maxlength="420" required data-message>
                    <button class="form_button" type="submit">Enviar mensaje</button>
                    <span id="span" class="form_span"><p>El mensaje ha sido enviado</p></span>
                </form>
            </div>
        </div>
    </footer>

    <div class="credits ">
        <p class="margen_global">Desarrollado por Sebastian Rojas</p>
    </div>
    <script type="module" src="../../js/script.js"></script>
    <script type="module" src="../../js/controller/product.controller.js"></script>

</body>

</html>